@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
body {
  transition: background-color 0.3s, color 0.3s, opacity 1s ease-in-out;
  opacity: 0;
  font-family: "Fjalla One", "Courier New", Courier, monospace;
  height: 100%;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15), -1px -1px 2px rgba(255, 255, 255, 0.15);
}
body.color-blue.dark-mode {
  background-color: rgb(4, 88, 88);
  color: rgb(223, 223, 223);
}
body.color-blue:not(.dark-mode) {
  background-color: aqua;
  color: white;
}
body.color-orange.dark-mode {
  background-color: rgb(138, 95, 17);
  color: rgb(223, 223, 223);
}
body.color-orange:not(.dark-mode) {
  background-color: orange;
  color: white;
}
body.color-purple.dark-mode {
  background-color: rgb(128, 0, 160);
  color: rgb(223, 223, 223);
}
body.color-purple:not(.dark-mode) {
  background-color: rgb(204, 0, 255);
  color: white;
}
body:not(.dark-mode) {
  background-color: aqua;
  color: white;
}
body.dark-mode {
  background-color: rgb(4, 88, 88);
  color: rgb(223, 223, 223);
}

body.fade-in {
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.navbar .button, .navbar .button#button-dark-mode {
  font-variant: small-caps;
}

.button, .button#button-dark-mode {
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  font-size: 20px;
  padding: 5px;
  width: 50px;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;
}
body.color-blue.dark-mode .button, body.color-blue.dark-mode .button#button-dark-mode {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
body.color-blue:not(.dark-mode) .button, body.color-blue:not(.dark-mode) .button#button-dark-mode {
  background-color: white;
  color: aqua;
}
body.color-orange.dark-mode .button, body.color-orange.dark-mode .button#button-dark-mode {
  background-color: rgb(223, 223, 223);
  color: rgb(138, 95, 17);
}
body.color-orange:not(.dark-mode) .button, body.color-orange:not(.dark-mode) .button#button-dark-mode {
  background-color: white;
  color: orange;
}
body.color-purple.dark-mode .button, body.color-purple.dark-mode .button#button-dark-mode {
  background-color: rgb(223, 223, 223);
  color: rgb(128, 0, 160);
}
body.color-purple:not(.dark-mode) .button, body.color-purple:not(.dark-mode) .button#button-dark-mode {
  background-color: white;
  color: rgb(204, 0, 255);
}
body:not(.dark-mode) .button, body:not(.dark-mode) .button#button-dark-mode {
  background-color: white;
  color: aqua;
}
body.dark-mode .button, body.dark-mode .button#button-dark-mode {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
.button:hover, .button#button-dark-mode:hover {
  width: 60px;
}
.button-to-go {
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  white-space: nowrap;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;
}
body.color-blue.dark-mode .button-to-go:hover, body.color-blue.dark-mode .button-to-go:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
body.color-blue:not(.dark-mode) .button-to-go:hover, body.color-blue:not(.dark-mode) .button-to-go:focus {
  background-color: white;
  color: aqua;
}
body.color-orange.dark-mode .button-to-go:hover, body.color-orange.dark-mode .button-to-go:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(138, 95, 17);
}
body.color-orange:not(.dark-mode) .button-to-go:hover, body.color-orange:not(.dark-mode) .button-to-go:focus {
  background-color: white;
  color: orange;
}
body.color-purple.dark-mode .button-to-go:hover, body.color-purple.dark-mode .button-to-go:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(128, 0, 160);
}
body.color-purple:not(.dark-mode) .button-to-go:hover, body.color-purple:not(.dark-mode) .button-to-go:focus {
  background-color: white;
  color: rgb(204, 0, 255);
}
body:not(.dark-mode) .button-to-go:hover, body:not(.dark-mode) .button-to-go:focus {
  background-color: white;
  color: aqua;
}
body.dark-mode .button-to-go:hover, body.dark-mode .button-to-go:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
.button#button-dark-mode {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.button#button-dark-mode:hover {
  width: 50px;
  height: 50px;
}
.button#button-dark-mode #button-dark-mode-light {
  padding: 0px;
}
.button#button-dark-mode #button-dark-mode-dark {
  padding: 7%;
}
body.dark-mode .button#button-dark-mode #button-dark-mode-light {
  display: none;
}
body:not(.dark-mode) .button#button-dark-mode #button-dark-mode-dark {
  display: none;
}

.main-header {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}
.main-header h1 {
  user-select: none;
  margin: 0 auto;
  font-size: 20vh;
  white-space: nowrap;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(255, 255, 255, 0.3);
}
@media (max-width: 768px) {
  .main-header h1 {
    font-size: 15vh;
  }
}
@media (max-width: 542px) {
  .main-header h1 {
    font-size: 12vh;
  }
}
.main-header .button-to-flex {
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
  display: flex;
}
.main-header .button-to-flex-left {
  justify-self: left;
  justify-content: left;
}
.main-header .button-to-flex-right {
  justify-self: right;
  justify-content: right;
}
.main-header #button-to-create {
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  white-space: nowrap;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;
  font-size: 8vh;
}
body.color-blue.dark-mode .main-header #button-to-create:hover, body.color-blue.dark-mode .main-header #button-to-create:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
body.color-blue:not(.dark-mode) .main-header #button-to-create:hover, body.color-blue:not(.dark-mode) .main-header #button-to-create:focus {
  background-color: white;
  color: aqua;
}
body.color-orange.dark-mode .main-header #button-to-create:hover, body.color-orange.dark-mode .main-header #button-to-create:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(138, 95, 17);
}
body.color-orange:not(.dark-mode) .main-header #button-to-create:hover, body.color-orange:not(.dark-mode) .main-header #button-to-create:focus {
  background-color: white;
  color: orange;
}
body.color-purple.dark-mode .main-header #button-to-create:hover, body.color-purple.dark-mode .main-header #button-to-create:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(128, 0, 160);
}
body.color-purple:not(.dark-mode) .main-header #button-to-create:hover, body.color-purple:not(.dark-mode) .main-header #button-to-create:focus {
  background-color: white;
  color: rgb(204, 0, 255);
}
body:not(.dark-mode) .main-header #button-to-create:hover, body:not(.dark-mode) .main-header #button-to-create:focus {
  background-color: white;
  color: aqua;
}
body.dark-mode .main-header #button-to-create:hover, body.dark-mode .main-header #button-to-create:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
@media (max-width: 768px) {
  .main-header #button-to-create {
    font-size: 6vh;
  }
}
@media (max-width: 542px) {
  .main-header #button-to-create {
    font-size: 5vh;
  }
}
.main-header #button-to-play {
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  white-space: nowrap;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;
  font-size: 8vh;
}
body.color-blue.dark-mode .main-header #button-to-play:hover, body.color-blue.dark-mode .main-header #button-to-play:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
body.color-blue:not(.dark-mode) .main-header #button-to-play:hover, body.color-blue:not(.dark-mode) .main-header #button-to-play:focus {
  background-color: white;
  color: aqua;
}
body.color-orange.dark-mode .main-header #button-to-play:hover, body.color-orange.dark-mode .main-header #button-to-play:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(138, 95, 17);
}
body.color-orange:not(.dark-mode) .main-header #button-to-play:hover, body.color-orange:not(.dark-mode) .main-header #button-to-play:focus {
  background-color: white;
  color: orange;
}
body.color-purple.dark-mode .main-header #button-to-play:hover, body.color-purple.dark-mode .main-header #button-to-play:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(128, 0, 160);
}
body.color-purple:not(.dark-mode) .main-header #button-to-play:hover, body.color-purple:not(.dark-mode) .main-header #button-to-play:focus {
  background-color: white;
  color: rgb(204, 0, 255);
}
body:not(.dark-mode) .main-header #button-to-play:hover, body:not(.dark-mode) .main-header #button-to-play:focus {
  background-color: white;
  color: aqua;
}
body.dark-mode .main-header #button-to-play:hover, body.dark-mode .main-header #button-to-play:focus {
  background-color: rgb(223, 223, 223);
  color: rgb(4, 88, 88);
}
@media (max-width: 768px) {
  .main-header #button-to-play {
    font-size: 6vh;
  }
}
@media (max-width: 542px) {
  .main-header #button-to-play {
    font-size: 5vh;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100vw - 10px);
}

label {
  user-select: none;
}

.menu-container {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  flex-direction: row-reverse;
}
.menu-container .menu-content {
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.2s;
  pointer-events: none;
}
body.dark-mode .menu-container .menu-content.color-blue {
  background-color: rgb(4, 88, 88);
  color: rgb(223, 223, 223);
}
body:not(.dark-mode) .menu-container .menu-content.color-blue {
  background-color: aqua;
  color: white;
}
body.dark-mode .menu-container .menu-content.color-orange {
  background-color: rgb(138, 95, 17);
  color: rgb(223, 223, 223);
}
body:not(.dark-mode) .menu-container .menu-content.color-orange {
  background-color: orange;
  color: white;
}
body.dark-mode .menu-container .menu-content.color-purple {
  background-color: rgb(128, 0, 160);
  color: rgb(223, 223, 223);
}
body:not(.dark-mode) .menu-container .menu-content.color-purple {
  background-color: rgb(204, 0, 255);
  color: white;
}
body.dark-mode .menu-container .menu-content {
  background-color: rgb(4, 88, 88);
  color: rgb(223, 223, 223);
}
body:not(.dark-mode) .menu-container .menu-content {
  background-color: aqua;
  color: white;
}
.menu-container:hover .menu-content,
.menu-container .menu-content:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
  pointer-events: auto;
}

/*# sourceMappingURL=style.css.map */
