$text-light: white;
$text-dark: rgb(223, 223, 223);

$backgrounds-light: (
    blue: aqua,
    orange: orange,
    purple: rgb(204, 0, 255)
);

$backgrounds-dark: (
    blue: rgb(4, 88, 88),
    orange: rgb(138, 95, 17),
    purple: rgb(128, 0, 160)

);

$padding: 5px;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@mixin theme($isLight, $color){
    @if $isLight == true{
        background-color: map-get($backgrounds-light, $color);
        color: $text-light;
    }
    @else{
        background-color: map-get($backgrounds-dark, $color);
        color: $text-dark;
    }
}

@mixin themeButton($isLight, $color){
    @if $isLight == true{
        background-color: $text-light;
        color: map-get($backgrounds-light, $color);
    }
    @else{
        background-color: $text-dark;
        color: map-get($backgrounds-dark, $color);
    }
}

@mixin applyTheme{
    @each $name, $bg in $backgrounds-light {
        body.color-#{$name}.dark-mode & {
            @include theme(false, $name);
        }
        body.color-#{$name}:not(.dark-mode) & {
          @include theme(true, $name);
        }
    }

    // default
    body:not(.dark-mode) &{
        @include theme(true, blue);
    }
    body.dark-mode &{
        @include theme(false, blue);
    }  
}

@mixin applyButtonTheme{
    @each $name, $bg in $backgrounds-light {
        body.color-#{$name}.dark-mode & {
            @include themeButton(false, $name);
        }
        body.color-#{$name}:not(.dark-mode) & {
          @include themeButton(true, $name);
        }
    }

    // default
    body:not(.dark-mode) &{
        @include themeButton(true, blue);
    }
    body.dark-mode &{
        @include themeButton(false, blue);
    }
}

@mixin applyThemeSelf {
    @each $name, $bg in $backgrounds-light {
      body.dark-mode &.color-#{$name} {
        @include theme(false, $name);
      }
      body:not(.dark-mode) &.color-#{$name} {
        @include theme(true, $name);
      }
    }
  
    // Default fallback (no color class)
    body.dark-mode & {
      @include theme(false, blue);
    }
    body:not(.dark-mode) & {
      @include theme(true, blue);
    }
}

@mixin applyButtonThemeSelf {
    @each $name, $bg in $backgrounds-light {
      body.dark-mode &.color-#{$name} {
        @include themeButton(false, $name);
      }
      body:not(.dark-mode) &.color-#{$name} {
        @include themeButton(true, $name);
      }
    }
  
    // Default fallback (no color class)
    body.dark-mode & {
      @include themeButton(false, blue);
    }
    body:not(.dark-mode) & {
      @include themeButton(true, blue);
    }
}

@mixin button-to-go{
    user-select: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
    white-space: nowrap;
    transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;

    &:hover, &:focus{
        @include applyButtonTheme();
    }

    font-size: 8vh;
    @media (max-width: 768px) {
        font-size: 6vh;
    }
  
    @media (max-width: 542px) {
        font-size: 5vh;
    }
    

}

@mixin button-to-go-no-resize{
    user-select: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
    white-space: nowrap;
    transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;

    &:hover, &:focus{
        @include applyButtonTheme();
    }
}

body{
    transition: background-color 0.3s, color 0.3s, opacity 1s ease-in-out;

    opacity: 0;

    font-family: 'Fjalla One','Courier New', Courier, monospace;

    height: 100%;

    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15), -1px -1px 2px rgba(255, 255, 255, 0.15);

    @each $name, $bg in $backgrounds-light {
        &.color-#{$name}.dark-mode{
            @include theme(false, $name);
        }
        &.color-#{$name}:not(.dark-mode){
          @include theme(true, $name);
        }
    }

    // default
    &:not(.dark-mode){
        @include theme(true, blue);
    }
    &.dark-mode{
        @include theme(false, blue);
    }
    
}
body.fade-in{
    opacity: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    
    .button{
        font-variant: small-caps;
    }
    
}

.button{
    user-select: none;
    cursor: pointer;

    border-radius: 4px;
    border: 0px;
    font-size: 20px;
    padding: $padding;

    width: 50px;

    transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;

    @include applyButtonTheme();

    &:hover{
        width: 60px;
    }

    &-to-go
    {
        @include button-to-go-no-resize;
    }

    &#button-dark-mode{
        @extend .button;

        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        &:hover{
            width: 50px;
            height: 50px;
        }

        #button-dark-mode-light{
            padding: 0px;
        }
        #button-dark-mode-dark{
            padding: 7%;
        }


        body.dark-mode &{
            #button-dark-mode-light{
                display: none;
            }
        }
        body:not(.dark-mode) &{
            #button-dark-mode-dark{
                display: none;
            }
        }

        // @include applyTheme();
    }
}

.main-header{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 0.1s ease; 

    h1{
        user-select: none;

        margin: 0 auto;

        font-size: 20vh;
        white-space: nowrap;

        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(255, 255, 255, 0.3);

        @media (max-width: 768px) {
          font-size: 15vh;
        }
    
        @media (max-width: 542px) {
          font-size: 12vh;
        }
    }

    .button-to-flex{
        margin: 0 auto;

        padding: 0;
        white-space: nowrap;
        display: flex;

        &-left{
            justify-self: left;
            justify-content: left;
        }
        &-right{
            justify-self: right;
            justify-content: right;
        }
    }

    #button-to-create{
        @include button-to-go;
    }
    #button-to-play{
        @include button-to-go;
    }
}

footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 10px);
}

label{
    user-select: none;
}

.menu-container {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;

    flex-direction: row-reverse;
  
    .menu-content {
      z-index: 100;
  
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.2s;
      pointer-events: none;

      @include applyThemeSelf;
    }
  
    &:hover .menu-content,
    .menu-content:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition-delay: 0s;
      pointer-events: auto;
    }
}