$background-light: aqua;
$text-light: white;

$background-dark: rgb(4, 88, 88);
$text-dark: rgb(223, 223, 223);

$padding: 5px;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@mixin theme($isLight){
    @if $isLight == true{
        background-color: $background-light;
        color: $text-light;
    }
    @else{
        background-color: $background-dark;
        color: $text-dark;
    }
}

@mixin themeButton($isLight){
    @if $isLight == true{
        background-color: $text-light;
        color: $background-light;
    }
    @else{
        background-color: $text-dark;
        color: $background-dark;
    }
}

@mixin applyTheme{
    body.dark-mode &{
        @include theme(false);
    }
    body:not(.dark-mode) &{
        @include theme(true);
    }  
}

@mixin applyButtonTheme{
    body.dark-mode &{
        @include themeButton(false);
    }
    body:not(.dark-mode) &{
        @include themeButton(true);
    }
}

body{
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Fjalla One','Courier New', Courier, monospace;

    height: 100%;

    :not(.dark-mode) &{
        @include theme(true);
    }
    
}
body.dark-mode{
    @include theme(false);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    
    .button{
        font-variant: small-caps;
    }
    
}

.button{
    border-radius: 4px;
    border: 0px;
    font-size: 20px;
    padding: $padding;

    width: 50px;

    transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, background-color 0.3s, color 0.3s;

    @include applyButtonTheme();

    &:hover{
        width: 60px;
    }

    &#button-dark-mode{
        @extend .button;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        &:hover{
            height: 60px;
        }

        #button-dark-mode-light{
            padding: 0px;
        }
        #button-dark-mode-dark{
            padding: 7%;
        }


        body.dark-mode &{
            #button-dark-mode-light{
                display: none;
            }
        }
        body:not(.dark-mode) &{
            #button-dark-mode-dark{
                display: none;
            }
        }

        // @include applyTheme();
    }
}

.main-header{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 20vh;
    white-space: nowrap;

    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(255, 255, 255, 0.3);

    @media (max-width: 768px) {
      font-size: 15vh;
    }
  
    @media (max-width: 480px) {
      font-size: 12vh;
    }
}

footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
}