$background-color: aqua;
$padding: 5px;

body{
    background-color: $background-color;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: $padding;
    
    .button{
        font-variant: small-caps;
    }
    
}

.button{
    border-radius: 4px;
    border: 0px;
    font-size: 20px;
    padding: $padding;

    width: 50px;

    transition: width 0.3s ease;

    &:hover{
        width: 100px;
    }
}